<h2 class="display-4">Add a Blog</h2>
<br>
<form id="blog-submit-form">
    <input id="title" class="form-control" type="text">
    <br>
    <input id="content" class="form-control" type="text">
    <br>
    <button type="submit" class="btn btn-info">Submit Blog</button>
</form>

<script src="/js/dashboard.js"></script>